{% extends 'main-layout.html' %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1 class="title">Home</h1>
    <div class="box"></div>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi voluptatum iure dolorum nobis veritatis amet dolor vel quibusdam nemo tempore quod voluptate, a quia vitae at commodi hic officia, ducimus incidunt quis aliquam? Beatae ea animi itaque eaque veniam necessitatibus, ipsam totam expedita deserunt voluptas assumenda? Aliquid nostrum deleniti enim voluptatum cumque excepturi delectus rem id beatae neque corporis ipsa, laudantium quod adipisci quibusdam, quae alias? Eveniet quae similique quis. Ad aperiam fuga quod quis repellat tempore, soluta optio nostrum. Autem accusamus, deserunt placeat molestias mollitia nulla animi totam necessitatibus id dolores. Esse minima quisquam dolore quod quibusdam voluptatem consequatur.</p>
{% endblock %}