{% extends 'main-layout.html' %}

{% block title %}Produtos{% endblock %}

{% block main %}
<h1 class="title">Produtos</h1>
<div>
    <div class="box"></div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur atque sit error reprehenderit, nostrum rem, fugit ipsa neque repellendus totam explicabo alias architecto accusamus nisi. Cum excepturi, debitis facere officia eum, corrupti autem reprehenderit laudantium harum facilis ea et ipsum veritatis sequi, cupiditate esse porro. Explicabo magnam corrupti consequatur repellat?</p>
</div>
<div>
    <div class="box"></div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum natus necessitatibus quo veritatis fuga quibusdam architecto doloribus nesciunt, reiciendis, sint officia quam perspiciatis asperiores soluta dolor laboriosam ipsam fugit! Atque debitis cum optio vitae saepe modi inventore, natus omnis quis autem fuga repellendus quisquam a maxime voluptate aut, vel ratione!</p>
</div>
<div>
    <div class="box"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga excepturi, recusandae quam autem nihil nostrum dolores omnis necessitatibus nemo natus hic nobis neque. Et animi non minus, incidunt amet eaque quo mollitia soluta neque quod error labore, magni doloribus temporibus architecto a quia maiores officia. Explicabo sint reiciendis neque impedit?</p>
</div>
{% endblock %}